*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
a {
    text-decoration: none;
}


.block-header 
{
    font-size: 20px;
    font-weight: 600;
    margin: 10px 0;
}
.block-text 
{
font-size: 20px;
letter-spacing: 0.5px;


}
.block 
{
    max-width: 500px;
    background-color:rgba(141, 252, 186, 0.6);
}


.btn
{
    color: red;
    font-size: 24px;
    border-style: none;
    display: block;
    padding: 20px ;
    background-color: transparent;
}


