* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.text {
    max-width: 500px;
    margin: 20px 0;
}


.btn {
    font-size: 23px;
    font-weight: 500;
    width: 80px;
    height: 40px;
    margin: 20px 0;
}
table,
th,
td {
    border: 1px solid black;
    text-align: center;
}

th,
td {
    padding: 10px 80px;
}

